[Unit]
Description=KewlChats XMPP reconcile ({{ site.name }})
After=network.target ejabberd.service

[Service]
Type=oneshot
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_root }}/{{ site.name }}
ExecStart=/usr/bin/php{{ php_version }} {{ app_root }}/{{ site.name }}/artisan kewlchats:reconcile
