[Unit]
Description=KewlChats XMPP reconcile ({{ app_name }})
After=network.target ejabberd.service

[Service]
Type=oneshot
User={{ app_name }}
Group={{ app_name }}
WorkingDirectory={{ app_root }}/{{ app_name }}
ExecStart=/usr/bin/php{{ php_version }} {{ app_root }}/{{ app_name }}/artisan kewlchats:reconcile
